/*nav bar */

ul.topNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3366ff;
}

ul.topNav li {float: left;}

ul.topNav .icon {display: none;}

li.nks a:hover {
    background-color: #6688ff;
}

li.nks a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}