body {
    background-color: grey
}

/*nav bar */

ul.topNav {
    border: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    background-color: dimgray;
    border-style: solid;
    border-color: darkgray;
    border-radius: 25px;
    
}

ul.topNav li {float: left;}

ul.topNav .icon {
    float: left;
}

li.nks a:hover {
    color: #afafaf;
}

li.nks a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding:10px;
    text-decoration: none;
    transition: 0.1s;
    font-size: 17px;
    font-family:  sans-serif;
}

h1 {
    color: #e5e5e5;
    text-align: center;
}

h3 {
    color: #404040;
    text-align: center;
}

a.lel {
    font-size: 30px;
    color: #d0d0d0;
}

h1.title {
    padding: 10px;
    font-family: monospace;
    font-size: 30px;
}